$color__body-background: #f1f1f1;
$color__accent: #ea222d;
$color__accent-hover: #d11e29;
$color__accent-active: #a0191e;
$color__border: #e5e5e5;
$color__border-footer: #474545;
$color__border-top-navigation: #d21f28;
$color__text: #777777;
$color__footer-background: #3d3b3b;
$color__profile-info-background: #f9f9f9;
$color__icon-background: #e2e2e2;
$color__label: #9e9e9e;
$color__input-border: #f2f2f2;
$color__facebook: #385490;
$color__facebook-hover: #2f4779;
$color__facebook-active: #2b416f;
$color__googleplus: #d3462f;
$color__googleplus-hover: #b93c29;
$color__googleplus-active: #a23424;
$color__button-follow: #d6d6d6;
$color__now: #ffe9ea;
$color__notification: #ea9c22;
$color__notification-timestamp: #999999;
$color__notification-hover: #ffe5e7;
$color__gray-light: #ababab;